*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #292424;
    color: white;
}
.container{
    background-color: rgb(50, 54, 54);
    width: 75%;
    margin: 4rem auto;
    padding: 3rem 2rem;
}
.ruler{
    border: 1px solid rgb(152, 142, 142);
    width: 25%;
}
.container h1{
    font-size: 3.2rem;
}
.form{
    margin-top: 2rem;
}
.form label{
    font-size: 2.2rem;
}
.form input[type = "text"]{
    height: 35px;
    width: 100%;
    max-width: 400px;
    padding: 5px 1rem;
    border-radius: 10px;

}
.form button{
    padding: 10px 20px;
    border: 1px solid rgb(184, 178, 178);
    border-radius: 10px;
    margin: 0 15px;
}